<html>
  <head>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/chatlist.js"></script>
    <script src="/static/footer.js"></script>
    <title>Kakakotalk</title>
  </head>
  <body>
    <div id="chatlistPage" class="page">
      <span id="chatlistTitle">Chat List</span>
      <span id="username"></span>
      <ul id="chatlist-list"></ul>
      <footer id="footer">
        <button id="friends-btn">Friends</button>
        <button id="chats-btn">Chats</button>
        <button id="logout-btn">Logout</button>
      </footer>
    </div>
  </body>
</html>
