<html>
  <head>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/function.js"></script>
    <title>Kakakotalk</title>
  </head>
  <body>
    <div class="container">
      <div class="page">
        <div class="chat-header"><a href="/friends">&#8592; </a></div>
        <div class="chat user1"></div>
        <form class="replybox-user1">
          <textarea rows="10" cols="1" class="reply-text"></textarea>
          <button class="send-btn">Send</button>
        </form>
        <div class="flex-row">
          <button id="toggle-media-upload">+</button>
          <form
            class="upload-media-form"
            id="media-upload-form"
            style="display: none"
          >
            <input type="file" id="media-upload" accept="image/*, video/*" />
            <button type="submit">미디어 업로드</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
